.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.badge {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    position: relative;
    background-size: cover;
}

.badge[data-tooltip] {
    position: relative;
    cursor: pointer;
}

.badge[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.badge[data-tooltip]:hover::after {
    opacity: 1;
}
